{% extends 'base.html.twig' %}

{% block title %}Archived Artworks
{% endblock %}

{% block body %}
	<div class="slide-archives">
		<div class="container-archives">
			<div class="shelf-archives top"></div>
			<div class="desc-archives">
				<h2>Archived Artworks</h2>
				<p>Mauris imperdiet velit risus, in accumsan velit vehicula vel. Proin  malesuada tortor vitae convallis aliquet. Nunc interdum augue ac nibh  lacinia, id vulputate purus semper.</p>
				<a href="{{ path('account_artworks') }}" class="btn1">
					<i class="fa-solid fa-chevron-left"></i>Your artworks</a>
			</div>
			<div class="ladder-archives right"></div>
		</div>
	</div>
    <div class="slide-archives">
        <div class="container-archived">
            <h3 class="space">What's on your shelf ?</h3>
            <div class="row">
                {% if archivedArtworks | length == 0 %}
                    <p>No archived artwork yet... Let's sold some of them !</p>
                    <div>
                    <a href="{{ path('account_artworks') }}" class="btn1">
					<i class="fa-solid fa-chevron-left"></i>Your artworks</a>
                    </div>
                {% else %}
                    <div class="artworks-container">
                        {% for artwork in archivedArtworks %}
                            {% include "partials/_cards.html.twig" with {'artwork': artwork} %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{encore_entry_script_tags('animFade')}}
{% endblock %}
