<div>
	<i class="fab fa-facebook"></i>
</div>
<div>
	<i class="fa-brands fa-twitter"></i>
</div>
<div>
	<i class="fa-brands fa-instagram"></i>
</div>
<div>
	<i class="fa-brands fa-tiktok"></i>
</div>
