	<div id="menu">
		<nav>
			<ul>
				<li><a href="index.php#home">Accueil</a></li>
				<li><a href="index.php#lineup">Line-Up</a></li>
				<li><a href="index.php#ticket">Tickets</a></li>
				<li><a href="index.php#contact">Contact</a></li>
			</ul>
		</nav>
	</div>
<header>
	<nav>
		<div>
			<img src="./images/logo.png" alt="Logo Apollo Gallery">
			<div>
				<p class="weight">APOLLO GALLERY</p>
				<p>ONLINE STORE</p>
			</div>
		</div>
	</nav>
</header>
<div id="burger">
	<div class="bar"></div>
	<div class="bar"></div>
	<div class="bar"></div>
</div>
{% block javascripts %}
    {{encore_entry_script_tags('burger')}}
{% endblock %}