<div class="d-flex justify-content-center pagination-container">
    <ul class="pagination pagination-sm">
        <li class="page-item {% if page == 1 %}disabled{% endif %}">
            <a href="{{path(route,{'page': page - 1})}}" class="page-link">&laquo;</a>
        </li>
        {% for i in 1..pages %}
            <li class="page-item {% if page == i%}active{% endif %}">
                <a href="{{path(route,{'page':i})}}" class="page-link">{{i}}</a>
            </li>
        {% endfor %}
        <li class="page-item {% if page == pages %}disabled{% endif %}">
            <a href="{{path(route,{'page': page + 1})}}" class="page-link">&raquo;</a>
        </li>
    </ul>
</div>