{% extends 'base.html.twig' %}

{% block title %}Our Gallery{% endblock %}

{% block body %}
    <div class="container">
        <div>
            {% for movement in movements %}
                <button type="button" class="btn btn-secondary">
                    <a href="{{ path('movements_show', {'slug': movement.slug}) }}">
                        {{ movement.movementName }}
                    </a>
                </button>
            {% endfor %}
        </div>
        <div class="row mt-4">
            {% for artwork in pagination.data %}
                {% if not artwork.archived %}
                    {% include "partials/_cards.html.twig" with { 'artwork': artwork } %}
                {% endif %}
            {% endfor %}
            {{pagination.display()}}
        </div>
    </div>
{% endblock %}
