$red : #FF0000;
$darkRed: #823636;
$bordeau:#642424;
$white: #F5F5F5;
$darkWhite: #e8e8e8;
$brown:#635E5E;
$darkBrown: #575252;
$orange: #F1B419;
$darkOrange: #e1a91a;
$green: #0fda0f;
$darkGreen: rgb(46, 201, 22);
$blue: #19D7F1;