//typo
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//variables
$red : #FF0000;
$white: #F5F5F5;
$gasoek : "Gasoek One", sans-serif;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


html{
    overscroll-behavior: none;
}

::-webkit-scrollbar{
    display: none;
}

html, body{
    font-family: "Neue Montreal";
    height:100%;
}

h1{
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}

p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    width:50%;
}

img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.logo{
    position: fixed;
    top:0;
    right:0;
    margin:2em;
    width:18px;
    height:18px;
    background: red;
    border-radius: 100%;
    z-index:10000;
}

.header{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    width: 100%;
    z-index: 2;
}

.letters{
    flex:1;
    display: flex;
    text-transform: uppercase;
}

.letters > div{
    flex:1;
    font-size:18vw;
    font-weight: 400;
    color:#000;
    text-align: center;
}

.website-content{
    position: fixed;
    top:0;
    width:100%;
    min-height: 100vh;
    overflow: hidden;
}

.img-holder {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    clip-path: polygon(30% 10%, 70% 10%, 70% 70%, 30% 70%);
    transform: scale(1);
}

.img-holder img{
    position:relative;
    transform: scale(1.5);
}

.content-holder{
    position: relative;
    top:-5px;
    width: 100%;
    background: #000;
    color:#fff;
    padding:1em;
}

.row{
    margin: 2em 1em;
}

.img{
    width: 200px;
    height:275px;
}

.row:nth-child(2) .img{
    position: relative;
    left:50%;
}

.row:nth-child(3) .img{
    position: relative;
    left:15%;
}

.row:nth-child(4) .img{
    position:relative;
    left:70%;
}

.row:nth-child(6) p{
    position: relative;
    left:30%;
    margin: 4em 0;
}

// ---------------------------------------------
.starsimg{
    height: 200px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.full{
    min-height:70vh;
}

.not-user-message:after {
	content: '';
	position: absolute;
	bottom: -7px;
	left: 10px;
	width: 0;
	border-width: 7px 10px 0 0;
	border-style: solid;
	border-color: #eceff1 transparent;
}

.user-message:after {
	content: '';
	position: absolute;
	bottom: -7px;
	right: 10px;
	width: 0;
	border-width: 7px 0 0 10px;
	border-style: solid;
	border-color: #2196F3 transparent;
}

.input-group{
    width: 90%;
}

 #message_content{
    resize:none;
    height:70px;
    border-radius: 15px;
}