//variables
@import 'colors';
@import 'fonts';
@import 'mixins';

.slide-archives{
    width:100%;
    min-height:110vh;
    background-color: $red;
    overflow: hidden;
    .container-archives{
        @include flex(column, space-between);
        width:90%;
        height:90vh;
        margin: 0 auto;
        padding-top: 50px;
        align-items: start;
        position: relative;
        .shelf-archives{
            @include imgCover(contain);
            width:100%;
            height:45vh;
            background-image: url(../../public/images/shelf.svg);
        }
        .desc-archives{
            width:50%;
        }
        .ladder-archives {
            @include imgCover(contain);
            position: absolute;
            width: 50%;
            height: 100vh;
            right: 0;
            top: 10%;
            background-image: url(../../public/images/ladder.svg);
        }
        
    }
    .container-archived{
        width:90%;
        margin: 0 auto;
        padding-top: 100px;
    }
}