@import 'colors';
@import 'fonts';
@import 'mixins';
.auctions-slide{
    width:100%;
    min-height: 100vh;
    background-color: $red;
    padding-bottom: 80px;
    .auctions-container {
        @include flex();
        align-items: start;
        gap:50px;
        width: 90%;
        margin: 0 auto;
        padding-top: 80px;
        position: relative;
        .won-container {
            width: 70%;
            background-color: antiquewhite;
            position: relative;
            .won-img {
                width: 120%;
                height: 15vh;
                border-top-right-radius: 100px;
                border-bottom-right-radius: 100px;
                background-color: $darkRed;
                position: absolute;
                left: -20%; 
            }
            .won-content{
                padding-top: 120px;
            }
        }
        .lost-container{
            @include flex(column, end);
            align-items: end;
            width:30%;
            position:relative;
            background-color: darkblue;
            .lost-img{
                width:100px;
                height:100px;
                background-color: $darkRed;
                border-radius: 50%;
                margin-top: 30px;
                .auction-card{
                    height:15vh;
                }
            }
            .lost-content{
                padding-top: 20px;
            }
        }
        .overflow{
            height:50vh;
            overflow-y: auto;
        }
    }
}

.auction-card{
    @include flex();
    align-items: start;
    width:100%;
    height:40vh;
    gap:25px;
    border-bottom: 1px solid $white;
    padding-top: 25px;
    padding-bottom: 25px;
    &:last-of-type{
        border-bottom: none;
    }
    .preview-card{
        width:50%;
        height:100%;
        img{
            width:100%;
            height:90%;
            object-fit: cover;
        }
    }
    .preview-mini{
        width:10%;
        img{
            width:50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .resume-card{
        width:50%;
        p a{


                font-size: 24px!important;
        }
    }
    .resume-mini{
        width:85%;
    }
}

.ongoing-container{
    width:90%;
    margin: 0 auto;
    padding-top: 80px;
    .auction-card{
        height:20vh;
        .preview-mini{
            img{
                width:70px;
                height:70px;
            }
        }
    }
}
