@import 'colors';
@import 'fonts';
@import 'mixins';
.auctions-slide{
    width:100%;
    min-height: 100vh;
    background-color: $red;
    padding-bottom: 80px;
    .auctions-container {
        @include flex();
        align-items: start;
        gap:50px;
        width: 90%;
        margin: 0 auto;
        padding-top: 80px;
        position: relative;
        @media all and (max-width: 1200px){
            flex-direction: column;
        }
        .won-container {
            width: 70%;
            position: relative;
            @media all and (max-width: 1200px){
                width:100%
            }
            .won-img {
                width: 120%;
                height: 15vh;
                border-top-right-radius: 100px;
                border-bottom-right-radius: 100px;
                position: absolute;
                left: -20%;
                background-image: url(../../public/images/banner.webp);
                background-size: cover;
                @media all and (max-width: 1200px){
                    height:10vh;
                }
            }
            .won-content{
                padding-top: 120px;
            }
        }
        .lost-container{
            @include flex(column, end);
            align-items: end;
            width:30%;
            position:relative;
            @media all and (max-width: 1200px){
                width:100%;
                align-items: start;
                height:60vh;
            }
            @media all and (max-width: 768px){
                height:70vh;
            }
            .lost-img{
                width:100px;
                height:100px;
                background-image: url(../../public/images/artworks_show.jpg);
                background-size: cover;
                border-radius: 50%;
                margin-top: 30px;
                @media all and (max-width: 1200px){
                    display: none;
                }
                .auction-card{
                    height:15vh;
                }
            }
            .lost-content{
                padding-top: 20px;
            }
        }
        .overflow{
            height:50vh;
            overflow-y: auto;
        }
    }
}

.auction-card{
    @include flex();
    align-items: start;
    width:100%;
    height:40vh;
    gap:25px;
    border-bottom: 1px solid $white;
    padding-top: 25px;
    padding-bottom: 25px;
    &:last-of-type{
        border-bottom: none;
    }
    @media all and (max-width: 768px){
        flex-direction: column;
    }
    .preview-card{
        width:50%;
        height:100%;
        @media all and (max-width: 768px){
            width: 100%;
        }
        img{
            width:100%;
            height:90%;
            object-fit: cover;
            @media all and (max-width: 768px){
                height: 100%;
            }
        }
    }
    .preview-mini{
        width:10%;
        @media all and (max-width: 1200px){
            width:30%;
        }
        @media all and (max-width: 768px){
            width: 100%;
            @include flex(column, center);
        }
        img{
            width:50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
            @media all and (max-width: 1200px){
                width:100px;
                height:100px;
            }
            @media all and (max-width: 768px){
                width:300px;
                height: 300px;
            }
        }
    }
    .resume-card{
        width:50%;
        @media all and (max-width: 768px){
            width: 100%;
        }
        p a{
            font-size: 24px!important;
        }
    }
    .resume-mini{
        width:85%;
        @media all and (max-width: 1200px){
            width:100%;
        }
    }
}

.ongoing-container{
    width:90%;
    margin: 0 auto;
    padding-top: 80px;
    .auction-card{
        height:20vh;
        @media all and (max-width: 1200px){
            height:15vh;
        }
        @media all and (max-width: 768px){
            height:35vh;
        }
        .preview-mini{
            @media all and (max-width: 768px){
                @include flex(row, space-between);
            }
            img{
                width:70px;
                height:70px;
                @media all and (max-width: 1200px){
                    width:100px;
                    height:100px;
                }
                @media all and (max-width: 768px){
                    width:70px;
                    height:70px;
                }
            }
        }
        .resume-mini{
            @media all and (max-width: 1200px){
                width:60%;
            }
            @media all and (max-width: 768px){
                width:90%;
            }
        }
        .space, .btn1{
            @media all and (max-width: 768px){
                margin:0!important;
            }
        }
    }
}
