//variables
@import 'colors';
@import 'fonts';
@import 'mixins';

.slide-gallery{
    @include flex(column, center);
    width:100%;
    min-height: 100vh;
    background-color: $red;
    position: relative;
    .intro-gallery{
        @include flex(column, space-between);
        flex-wrap: wrap;
        align-items: start;
        width:100%;
        height:85vh;
        margin-top: 70px;
        gap: 50px;
        overflow: hidden;
        .text-gallery{
            @include flex(column, start);
            align-items: end;
            width: 50%;
            @media all and (max-width: 1200px){
                width:100%;
            }
            .margin{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width:90%;
                height:70vh;
                @media all and (max-width: 1200px){
                    width:90%;
                    margin:0 auto;
                    height:20vh;
                }
                @media all and (max-width: 768px){
                    height:50vh;
                }
                a{
                    text-decoration: none;
                    color:$white;
                }
                h2, p{
                    margin-bottom: 25px!important;
                }
                .social_media_all{
                    @include media(30px, 16px, 35px, 50px);
                }
            }
        }
        .cover-gallery{
            @include imgCover(cover);
            width: 50%;
            height:100%;
            background-image: url(../../public/images/cover_gallery.jpg);
            @media all and (max-width: 1200px){
                width:100%;
                height:45vh;
            }
            @media all and (max-width: 768px){
                height:25vh;
            }
        }
    }
    .artworks-gallery{
        width:100%;
        min-height:100vh;
        margin-top: 25px;
        .artworks-content{
            width:90%;
            margin:0 auto;
            padding-top: 50px;
            .artworks-title{
                @include flex(row, space-between);
                flex-wrap: wrap;
                .widget{
                    @include flex(row, space-between);
                    flex-wrap: wrap;
                    .nav{
                        @media all and (max-width: 1200px){
                            --bs-nav-link-padding-x:0!important;
                        }
                    }
                    .dropdown-toggle{
                        color:$white;
                    }
                    #search-input{
                        border-radius: 80px;
                    }
                    #search-results ul li{
                        border-bottom: 1px solid $brown;
                        padding: 8px;
                        &:last-of-type{
                            border:none;
                        }
                    }
                    #search-results ul li a, .dropdown-item{
                        color: $darkBrown!important;
                        &:hover{
                            color:$white!important;
                        }
                    }
                    .btn-secondary{
                        width:50px!important;
                        height:50px!important;
                        border-radius: 50%!important;
                        @include flex(row, center);
                        i{
                            color:$red;
                        }
                    }
                }
            }
        }
    }
}

.artworks-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    @media all and (max-width: 1200px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media all and (max-width: 768px){
        grid-template-columns: repeat(1, 1fr);
    }
}

// ---------------------------MOVEMENTS--------------------------

.bannerMovement{
    @include flex();
    @include imgCover(cover);
    width: 100%;
    height:25vh;
    background-image: url(../../public/images/bannerMovement.jpg);
    h1{
        width:90%;
        margin: 0 auto;
    }
}
.slide-movement{
    width:100%;
    min-height: 100vh;
    background-color: $red;
    padding-bottom: 50px;
    .container-movement{
        @include flex();
        align-items: start;
        width:95%;
        margin:0 auto;
        padding-top: 50px;
        gap:50px;
        .other-movements{
            width:10%;
            @media all and (max-width: 768px){
                display: none;
            }
        }
        .artwork-movement{
            width:90%;
            @media all and (max-width: 768px){
                width:100%;
            }
        }
    }
}