//variables
@import 'colors';
@import 'fonts';
@import 'mixins';

.slide-show{
    width:100%;
    min-height: 100vh;
    background-color: $red;
    position: relative;
    img{
        width:100%;
        height:100vh;
        object-fit: cover;
        @media all and (max-width: 1200px){
            height:125vh;
        }
        @media all and (max-width: 768px){
            height:130vh;
        }
    }
    .color-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $darkRed;
        mix-blend-mode: multiply;
        @media all and (max-width: 1200px){
            height:125vh;
        }
        @media all and (max-width: 768px){
            height:130vh;
        }
    }
    .content-show{
        position: absolute;
        z-index: 5;
        width: 90%;
        height:80%;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        margin-top: 10px;
        @media all and (max-width: 1200px){
            margin-top: 0;
            padding-bottom: 100px;
        }
        @media all and (max-width: 768px){
            margin-top: 0;
            padding-bottom: 150px;
        }
        .container-show{
            @include flex(column, space-between);
            flex-wrap: wrap;
            gap:50px;
            width:100%;
            height:100%;
            margin-top: 20px;
            @media all and (max-width: 1200px){
                flex-direction: row;
                margin-top: 0;
                gap:20px;
            }
            .img-show {
                @include flex(row,center);
                width: 50%;
                height: 100%;
                position: relative;
                @media all and (max-width: 1200px){
                    width:100%;
                    height:60%;
                }
                @media all and (max-width: 768px){
                    height:30%;
                }
                img {
                    width: 90%;
                    height: 70%;
                    object-fit: cover;
                    margin-top: -40px;
                    @media all and (max-width: 1200px){
                        height: 75%;
                    }
                    @media all and (max-width: 768px){
                        margin-top: 10px;
                        width:75%;
                        height:80%;
                    }
                    &.rotate-90 {
                        width: 50%;
                        height: 80%;
                        margin-top: -15px;
                        margin-left: 30px;
                        @media all and (max-width: 1200px){
                            width:45%;
                            margin-left: 0;
                        }
                        @media all and (max-width: 768px){
                            width:50%;
                            height:120%;
                            margin-top: 50px;
                            margin-left:0;
                        }
                    }
                }
            
                .frame-overlay {
                    position: absolute;
                    top: 5px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url(../../public/images/frame.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    z-index: 10;
                    @media all and (max-width: 768px){
                        left:7%;
                    }
                    &.rotate-90 {
                        width:80%;
                        top:-15px;
                        transform: rotate(90deg);
                        transform-origin: center;
                        @media all and (max-width: 1200px){
                            width:70%;
                        }
                        @media all and (max-width: 768px){
                            top:30%;
                            left:0%;
                            width:100%;
                            height:95%;
                        }
                    }
                }
            }
            .info-show{
                width:50%;
                height: 100%;
                @media all and (max-width: 1200px){
                    width:100%;
                    height:40vh;
                }
                @media all and (max-width: 768px){
                    height:45vh;
                }
                .title-show{
                    @include flex(row, space-between);
                    h2{
                        @media all and (max-width: 768px){
                            font-size: 30px!important;
                        }
                    }
                }
                .container-info{
                    width:100%;
                    margin-top: 5px;
                    .item-info{
                        @include flex(row, space-between);
                        width:100%;
                        border-bottom: 1px solid $white;
                        padding: 12px 0;
                        &:last-of-type{
                            border-bottom: none;
                        }
                        .item{
                            width:50%;
                            height:100%;
                            color:$white!important;
                            &:last-of-type{
                                text-align: right;
                            }
                        }
                        .item-flex{
                            @include flex(column, end);
                            align-items: end;
                            text-align: right;
                            width:80%;
                            div{
                                color:$white;
                            }
                        }
                    }
                    .item-price{
                        padding: 12px 0;
                        .price{
                            font-family: $gasoek;
                            font-size: 40px;
                            color:$white;
                            text-align: right;
                        }
                    }
                    .share-container{
                        @include flex(row, space-between);
                        margin-top: -15px;
                        #copyMessage{
                            color: $green!important;
                            margin-bottom: -15px;
                            text-align: center;
                        }
                        button{
                            border:none;
                        }
                    }
                    a{ 
                        width:100%;
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}