@import 'colors';
@import 'fonts';
@import 'mixins';

.slide-profile{
    width:100%;
    // min-height:100vh;
    position: relative;
    background-color: $red;
}

.lines{
    @include flex(column, center);
    width:95%;
    height:95vh;
    margin: 0 auto;
    position:relative;
    @media all and (max-width: 1200px){
        height:70vh;
    }
    .line{
        width:100%;
        height:25%;
        border-bottom: 1px solid $white;
        &:last-of-type{
            border:none;
        }
    }
}

#id-card{
    @include flex(column, center);
    @media all and (max-width: 768px){
        height:150vh;
    }
    .profile-card{
        @include imgCover(cover);
        width:50%;
        height:70vh;
        background-color: white;
        background-image: url(../../public/images/profile.png);
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        border-radius: 50px;
        @media all and (max-width: 1200px){
            width:90%;
            height:50vh;
        }
        @media all and (max-width: 768px){
            height:120vh;
            // top:100%;
        }
        p{
            color:$darkBrown;
        }
        .profile-title{
            width:100%;
            background-color: $darkRed;
            padding: 10px;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            padding-left: 45px;
            @media all and (max-width: 768px){
                padding-left: 0;
            }
            h2{
                @media all and (max-width: 768px){
                    text-align: center;
                    font-size: 30px!important;
                }
            }
        }
        .profile-container{
            @include flex(column, center);
            width:100%;
            .profile-content{
                @include flex(row, space-between);
                gap:30px;
                width:90%;
                // height:45vh;
                margin-top: 30px;
                @media all and (max-width: 768px){
                    flex-direction: column;
                }
                .profile-picture{
                    width: 40%;
                    @media all and (max-width: 768px){
                        width:100%;
                    }
                }
                .profile-info{
                    width: 60%;
                    @media all and (max-width: 768px){
                        width:100%;
                    }
                    .profile-header{
                        @include flex(row, space-between);
                        align-items: start;
                        width:100%;
                        @media all and (max-width: 768px){
                            flex-direction: column-reverse;
                        }
                        .icons-content{
                            @media all and (max-width: 768px){
                                margin-bottom: 10px;
                                margin-left: auto;
                            }
                        }
                    }
                    .profile-actions{
                        @include flex(row, end);
                        gap:10px;
                        @media all and (max-width: 768px){
                            flex-direction: column;
                            width: 100%;
                        }
                        a{
                            @media all and (max-width: 768px){
                                width: 100%!important;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#latest-frames{
    height:120vh!important;
    @media all and (max-width: 768px) {
        height:130vh!important;
    } 
    .slide-container{
        @include flex(row, space-between);
        width:90%;
        margin: 0 auto;
    }
    .frames-container{
        position: absolute;
        width:90%;
        height:80%;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr); 
        gap: 50px;
        @media all and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
            gap:25px;
        }
        @media all and (max-width: 768px) {
            top:55%;
        }  
        .grid-items{
            width:100%;
            height:100%;
            &:first-child{
                grid-column: span 2;
                grid-row: span 2;
                @media all and (max-width: 1200px) {
                    width: 100%;
                    grid-row: span 1;
                } 
            }
            &:nth-child(2){
                grid-column: span 2;
            }
        }

    }
}

#reviews-user {
    @include flex(row, space-between);
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    gap: 50px;
    align-items: start;
    padding-bottom: 50px;
    @media all and (max-width: 768px){
        flex-direction: column;
    }
    .reviews-container, .medals-container {
        width: 50%;
        height: 90%;
        @media all and (max-width: 768px){
            width:100%;
            height:120vh;
        }
    }

    .review-content {
        @include flex(row, flex-start);
        padding: 15px;
        border-bottom: 1px solid $white;
        &:last-of-type {
            border: none;
        }
        .review-img{
            width:15%;
            @media all and (max-width: 1200px){
                width:10%;
                align-self: flex-start;
                margin-top: 0!important;
            }
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 50px;
                @media all and (max-width: 1200px){
                    width:25px;
                    height:25px;
                }
            }
        }

        .review-rating {
            @include flex(row, space-between);
            
        }
    }

    .medals-container{
        position:relative;
        @media all and (max-width: 768px){
            height:70vh;
        }
        .medals{
            width:100%;
            position:relative;
            margin-top: 50px;
            .first-ring{
                @include flex(column, center);
                width:350px;
                height:350px;
                background-color: #FFC54D;
                border-radius: 50%;
                position: absolute;
                top:80%;
                left:50%;
                transform: translateX(-50%);
                z-index: 1;
                .second-ring{
                    @include flex(column, center);                width:275px;
                    height:275px;
                    background-color: #E8B04B;
                    border-radius: 50%;
                    h2{
                        color:#A47727!important;
                        font-size: 120px!important;
                    }
                }
            }
            .ribbons{
                @include imgCover(contain);
                width:100%;
                height:55vh;
                background-image: url(../../public/images/medal_ribbons.svg);
                position: absolute;
                margin-top: 150px;
                top:90%;
                left:50%;
                transform: translateX(-50%);
                @media all and (max-width: 1200px){
                    margin-top: 50px;
                }
            }
        }
    }
}
