{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<div class="slide">

    <div class="banner">
        <div class="banner_img" id="banner_img1"></div>
        <div class="banner_img" id="banner_img2"></div>
        <div class="banner_img" id="banner_img3"></div>
        <div class="quote">
            <h2>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsam, reprehenderit illum consectetur ut accusantium ipsa nulla sit incidunt praesentium?"</h2>
            <p>- Eugène-Ernest Hillemacher, New Anger</p>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('fadeIn')}}
{% endblock %}

        {# <h1>Liste des experts</h1>
        <ul>
            {% for expert in experts %}
                {% if 'ROLE_EXPERT' in expert.roles %}
                    <li>{{ expert.fullName }}</li>
                    <form action="{{ path('create_conversation', {'expertSlug': expert.slug}) }}" method="post">
                        <button type="submit" class="btn btn-primary rounded-pill">
                            <i class="fa fa-envelope"></i> Envoyer un message
                        </button>
                    </form>
                {% endif %}
            {% endfor %}
        </ul> #}
