{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des experts</h1>
        <ul>
            {% for expert in experts %}
                {% if 'ROLE_EXPERT' in expert.roles %}
                    <li>{{ expert.fullName }}</li>
                    <form action="{{ path('create_conversation', {'expertSlug': expert.slug}) }}" method="post">
                        <button type="submit" class="btn btn-primary rounded-pill">
                            <i class="fa fa-envelope"></i> Envoyer un message
                        </button>
                    </form>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
