{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des experts</h1>
        <ul>
            {% for expert in experts %}
                {% for role in expert.roles %}                    
                    {% if role == 'ROLE_EXPERT' %}
                        <li>{{ expert.fullName }}</li>
                        <button type="submit" class="btn btn-primary rounded-pill">
                            <i class="fa fa-envelope"></i>
                        </button>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
