{% extends 'base.html.twig' %}

{% block title %}Private policy
{% endblock %}
{% block body %}
	<div class="slide">
		<div class="container mt-5 py-5">
			<a href="{{ path('homepage') }}" class="btn1 space"><i class="fa-solid fa-chevron-left"></i>Home</a>
			<h1>Private policy</h1>
			<div class="mentions">
				<h3>1.   Site</h3>
				<p>apollogallery.kimberley-quenon.be</p>
				<h3>2.   Host</h3>
				<p>apollogallery.kimberley-quenon.be is hosted by
					<a href="https://www.o2switch.fr/">o2switch.fr</a>, whose head office is located Rue du Village 50, 7850 MARCQ (Enghien).</p>
				<h3>Access to the site</h3>
				<p>Access to the site and its use are reserved for strictly personal use. You agree not to use this site and the information or data contained therein for commercial, political, advertising purposes or for any form of commercial solicitation, including the sending of unsolicited emails.</p>
				<h3>Site content</h3>
				<p>All brands, photographs, texts, comments, illustrations, animated or non-animated images, video sequences, sounds, as well as all computer applications which could be used to operate this site and more generally all elements reproduced or used on the site are protected by the laws in force regarding intellectual property. They are the full and complete property of the publisher or its partners. Any reproduction, representation, use or adaptation, in any form whatsoever, of all or part of these elements, including computer applications, without the prior written consent of the publisher, is strictly prohibited. The fact that the publisher does not initiate proceedings upon becoming aware of these unauthorized uses does not constitute acceptance of said uses and waiver of prosecution.</p>
				<h3>Site management</h3>
				<p>For the proper management of the site, the publisher may at any time: - suspend, interrupt or limit access to all or part of the site, reserve access to the site, or to certain parts of the site, for a specific category of Internet users; - delete any information that may disrupt its operation or contravene national or international laws; - suspend the site in order to make updates.</p>
				<h3>Responsibilities</h3>
				<p>The publisher cannot be held liable in the event of a failure, breakdown, difficulty or interruption of operation, preventing access to the site or one of its functionalities. The site connection material you use is your sole responsibility. You must take all appropriate measures to protect your equipment and your own data, particularly from viral attacks via the Internet. You are also solely responsible for the sites and data that you consult.
					<br><br>The publisher cannot be held responsible in the event of legal proceedings against you:
					<ul>
						<li>
							due to use of the site or any service accessible via the Internet;
						</li>
						<li>
							due to your non-compliance with these general conditions.
						</li>
					</ul><br>
					<p>The publisher is not responsible for damage caused to you, third parties and/or your equipment as a result of your connection or use of the site and you waive any action against it as a result.
					<br>If the publisher were to be the subject of an amicable or legal procedure due to your use of the site, he may turn against you to obtain compensation for all damages, sums, convictions and costs which could result from this procedure.</p>
				</p>
				<h3>Hypertext links</h3>
				<p>The establishment by users of any hypertext links to all or part of the site is authorized by the publisher. Any link must be removed upon simple request from the publisher. Any information accessible via a link to other sites is not published by the publisher. The publisher has no rights to the content present in said link.</p>
				<h3>Data collection and protection</h3>
				<p>Your data is collected by Apollo Gallery Auctions.
					<br>Personal data means any information relating to an identified or identifiable natural person (data subject); is deemed identifiable a person who can be identified, directly or indirectly, in particular by reference to a name, an identification number or to one or more specific elements, specific to his physical, physiological, genetic, psychological, economic, cultural or social. The personal information that may be collected on the site is mainly used by the publisher to manage relations with you, and if necessary to process your requests.
					<br>The personal data collected are as follows:
					<ul>
						<li>last name and first name
						</li>
						<li>email address</li>
					</ul>
				</p>
				<h3>Right of access, rectification and dereferencing of your data</h3>
				<p>In application of the regulations applicable to personal data, users have the rights following:
					<ul>
						<li>the right of access: they can exercise their right of access, to know the personal data concerning them, by writing to the following email address apollo-gallery@gmail.com. In this case, before implementing this right, the Platform may request proof of the user's identity in order to verify its accuracy;</li>
						<li>the right to rectification: if the personal data held by the Platform is inaccurate, they can request that the information be updated;</li>
						<li>the right to delete data: users can request the deletion of their personal data, in accordance with applicable data protection laws;</li>
						<li>the right to limit processing: users can ask the Platform to limit the processing of personal data in accordance with the hypotheses provided for by the GDPR;</li>
						<li>the right to object to data processing: users can object to their data being processed in accordance with the assumptions provided for by the GDPR;</li>
						<li>the right to portability: they can request that the Platform give them the personal data they have provided to transmit it to a new Platform.</li>
					</ul>
					<p>You can exercise this right by contacting us at the following address:<br>apollo-gallery@gmail.com<br>
					Any request must be accompanied by a photocopy of a signed valid identity document and mention the address at which the publisher can contact the requester. The response will be sent within one month of receipt of the request. This one-month period may be extended by two months if the complexity of the request and/or the number of requests so requires.</p>
				</p>
				<h3>Use of data</h3>
				<p>The personal data collected from users aims to provide the Platform's services, their improvement and the maintenance of a secure environment. The legal basis for processing is the execution of the contract between the user and the Platform. More specifically, the uses are as follows:
					<ul>
						<li>implementation of support for requests or questions posed by the user</li>
					</ul>
				</p>
				<h3>Data retention policy</h3>
				<p>The Platform retains your data for the period necessary to provide you with its services or assistance.<br>
					To the extent reasonably necessary or required to satisfy legal or regulatory obligations, resolve disputes, prevent fraud and abuse, or enforce our terms and conditions, we may also retain some of your information as necessary, even after you close your account or that we no longer need to provide our services to you.</p>
				<h3>Photographs and representation of products</h3>
				<p>Product photographs, accompanying their description, are not contractual and do not bind the publisher.</p>
				<h3>Applicable law</h3>
				<p>Any dispute relating to the use of the site https://apollo-gallery.be is subject to Belgian law. Except in cases where the law does not permit it, exclusive jurisdiction is granted to the competent Belgian courts.</p>

			</div>
		</div>
	</div>
{% endblock %}
