{% extends "base.html.twig" %}

{% block title %}Not found
{% endblock %}

{% block body %}
	<div class="slide" id="slide-errors">
		<div class="grid-errors">
			<div class="items-errors">
				<h1>404 : Not Found</h1>
				<p>Mauris imperdiet velit risus, in accumsan velit vehicula vel. Proin  malesuada tortor vitae convallis aliquet. Nunc interdum augue ac nibh  lacinia, id vulputate purus semper.</p>
                <div>
                    <a href="{{path('homepage')}}" class='btn3'><i class="fa-solid fa-chevron-left"></i> Homepage</a>
                    <a href="{{path('artworks_index')}}" class='btn1'>To the gallery <i class="fa-solid fa-chevron-right"></i></a>
                </div>
			</div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
			<div class="items-errors"></div>
		</div>
	</div>
{% endblock %}
