{% extends 'conversation-layout.html.twig' %}
{% block title %}Conversations
{% endblock %}

{% block title_section %}
    Conversations
{% endblock %}

{% block button_section %}
	<a href="{{ path('account_profile') }}" class="btn1"><i class="fa-solid fa-chevron-left"></i>Back to profile</a>
{% endblock %}

{% block conversations_section %}
	<div>
		{% include "partials/_conversations.html.twig" %}
	</div>
{% endblock %}

{% block messages_section %}

<div class="select-convo">
	<img src="../../images/convo.svg" alt="convo">
	<h1 class="space">Select a convo</h1>
    <p>Keep in touch with our experts and learn more about your masterpiece.</p>
</div>

{% endblock %}
